[Desktop Entry]
Type=Action
Tooltip=Conkyzen
Name=Open conkyzen
Profiles=profile-one;
Icon=conky


[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=am-conkyzen
Name=Default profile